

<!DOCTYPEHTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    
   
</head>     
<body>
    <header>
        <div class="container">
            <h1>Welcome to the Recipe App</h1>
            <nav>
                <ul>
                    <li>Home</a></li>
                    <li>Recipes</li>
                    <li>Add Recipe</li>
                </ul>
           
    <footer>
        <div class="container">
            <p>&copy; 2023 Recipe App. All rights reserved.</p>
        </div>
    </footer>

   